{% extends "layout.html" %}
{% block content%}
    <div class="col-md-20">
          <div class="content-section">
            <h3>Welcome To The Audit Company</h3>
            <p class='text-muted'>Here we evaluate the usage and preference of Automobile manufacturer customers.
              <br>Here is a list of problems we evaluate
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Engine Issue</li>
                <li class="list-group-item list-group-item-light">Gearbox Issue</li>
                <li class="list-group-item list-group-item-light">Oil Leakage</li>
                <li class="list-group-item list-group-item-light">Brake Issue...</li>
              </ul>
            </p>
          </div>
        </div>
{% endblock content %}
